<body style='padding: 0px; margin: 0px;'><div align="center">
    <table width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#f9f8f6'>
        <tr><td>&nbsp;</td></tr>
        <tr><td align='center'><span style='font-family: "Roboto Slab", sans-serif; color:#1381bd;font-size:26px;'>Mera Mohalla</span></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td>
                <table align='center' width='700' border='0' bgcolor='#ffffff'><tr><td>
                <div style='color:#58595B;font-size:13px;margin:20px;'>
                    <div style='color:#58595B;font-size:13px;margin:20px;'>
                        <div>
                            <div style='float:left;width:auto;display:inline-block;'>

                            </div><div>Hi <b><%= userName %></b>,<br><br>
                            Your claim to <b><%= vendorName %></b> has been cancelled</div>
                        </div>
                            <br>
                             <%= comment %>.<br><br>

                            <br><hr>
                            <span style='float: left;'>Powered by Zehntech Technologies</span>
                            <a style='color:#1381bd;float:right;text-decoration: none;' target='_blank' href="">Mera Mohalla</a>
                    </div><br>
                </div>
                </tr>
                </table><br>
                <span style='color:#999999;font-size:12px;margin-left:40%;'>2016 &copy; ALL Rights Reserved.</span>
            </td>
        </tr>
        <tr><td>&nbsp;</td>
        </tr>
    </table>
    </div>
</body>
