

<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="css/main.css" type="text/css"/>
<body class="bg-color">
 <h2 class="text-center roboto-font blue-text-color">Mera Mohalla</h2>
<div>

    <div class="center-form white-color">
        <div>
          <h3 class="text-center roboto-font">Reset Password</h3>
            <br>
                <form name="form" action="/reset-password?access_token=<%= accessToken %>" method="post">
                    <div class="form-group has-feedback">
                      <input class="form-control input-lg" type="password" name="password" autocomplete="off" placeholder="New Password" required  title="Enter strong password">
                    </div>
                    <div class="form-group has-feedback">
                      <input class="form-control input-lg" type="password" name="confirmation" autocomplete="off" placeholder="Confirm Password" required >

                    </div>
<br>
                    <button type="submit" class="btn btn-primary btn-block">
                        Reset
                    </button>

                </form>
        </div>
    </div>
</div>
</body>



